json-workflows/instagram_post_from_image_url.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1c3a8c2-5d8f-4c42-9a4a-7a6bb4c4d42a",
              "name": "igUserId",
              "value": "={{ $json.body.igUserId }}",
              "type": "string"
            },
            {
              "id": "2c9e6d4a-5c1a-4f31-8b85-3e1b3d2d1f5a",
              "name": "imageUrl",
              "value": "={{ $json.body.imageUrl }}",
              "type": "string"
            },
            {
              "id": "d6a5f2c1-3a4b-4e5f-8a6d-7c8b9a0d1e2f",
              "name": "caption",
              "value": "={{ $json.body.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0cca4c41-91f9-4a27-af9e-d5af82cb384b",
      "name": "Set Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2704,
        592
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "38880dee-202c-41b5-81b4-809e8966654c",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3264,
        592
      ],
      "webhookId": "bba86d76-a817-4184-9a60-b8e43020dc95"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $('Set Params').item.json.igUserId }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $('Create Media Container1').item.json.id }}"
              }
            ]
          }
        }
      },
      "id": "c3039cdf-4d83-4fe2-95c6-b9cd255330a5",
      "name": "Publish Media",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        3536,
        592
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "cef0AIoNeNXMJo71",
          "name": "Xponent"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $('Set Params').item.json.igUserId }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $('Set Params').item.json.imageUrl }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Set Params').item.json.caption }}"
              }
            ]
          }
        }
      },
      "id": "103484dd-fa84-4bd5-a88f-7716ed7232c3",
      "name": "Create Media Container1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        3008,
        592
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "cef0AIoNeNXMJo71",
          "name": "Xponent"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-post",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2400,
        592
      ],
      "id": "64cc5ab2-e687-4d63-b98c-511655e53b87",
      "name": "Webhook"
    }
  ],
  "connections": {
    "Set Params": {
      "main": [
        [
          {
            "node": "Create Media Container1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Publish Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Media Container1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "746ee0cbe95e29ade6e99da0ff3b10dfc1d8a9448b58c520329d0a768b851324"
  }
}