json-workflows/instagram_post_from_image_url.json
{
  "name": "Instagram post from image URL",
  "nodes": [
    {
      "parameters": {},
      "id": "4c2f71f1-44a6-4c1d-8d8b-2d3be05a7f91",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1c3a8c2-5d8f-4c42-9a4a-7a6bb4c4d42a",
              "name": "igUserId",
              "value": "YOUR_IG_USER_ID",
              "type": "string"
            },
            {
              "id": "2c9e6d4a-5c1a-4f31-8b85-3e1b3d2d1f5a",
              "name": "imageUrl",
              "value": "https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?w=1200",
              "type": "string"
            },
            {
              "id": "d6a5f2c1-3a4b-4e5f-8a6d-7c8b9a0d1e2f",
              "name": "caption",
              "value": "Hello from n8n! #automation",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7f4f3a9b-7d7c-4e2f-9d1e-1a2b3c4d5e6f",
      "name": "Set Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "hostUrl": "graph.facebook.com",
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $('Set Params').item.json.igUserId }}",
        "edge": "media",
        "allowUnauthorizedCerts": false,
        "sendBinaryData": false,
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $('Set Params').item.json.imageUrl }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Set Params').item.json.caption }}"
              }
            ]
          }
        }
      },
      "id": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Create Media Container",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "9f8e7d6c-5b4a-3a2b-1c0d-9e8f7d6c5b4a",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "hostUrl": "graph.facebook.com",
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $('Set Params').item.json.igUserId }}",
        "edge": "media_publish",
        "allowUnauthorizedCerts": false,
        "sendBinaryData": false,
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $('Create Media Container').item.json.id }}"
              }
            ]
          }
        }
      },
      "id": "0a1b2c3d-4e5f-6071-8293-a4b5c6d7e8f9",
      "name": "Publish Media",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1310,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Params": {
      "main": [
        [
          {
            "node": "Create Media Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Media Container": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Publish Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
